<template>
	<div class="jumbotron" style="background-color: white;">
			<router-link to="/coach/create" class="btn btn-info">Tambah Data coach</router-link>
		<div class="table-responsive">
			<table align="center" class="table table-default">
			<tr class="bg-primary text-light">
				<th>No</th>
				<th>Nama</th>
				<th>Tanggal Lahir</th>
				<th>Alamat</th>
				<th>No Telp</th>
				<th>JK</th>
				<th>Mata Pelajaran</th>
				<th>Action</th>
			</tr>
			<tr v-for="(coach, i) in data_coach" :key="i" class="">
				<td><b>{{ i+1 }}</b></td>
				<td>{{ coach.nama_lengkap }}</td>
				<td>{{ coach.tgl_lahir }}</td>
				<td>{{ coach.alamat }}</td>
				<td>{{ coach.no_telp }}</td>
				<td>{{ coach.jenis_kelamin }}</td>
				<td>{{ coach.divisi }}</td>
				<td>
					<router-link :to="'/coach/' + coach.id" class
					="btn btn-warning">Edit</router-link>
					<button @click="deleteRow(coach.id)" class
					="btn btn-danger">Delete</button>
				</td>
			</tr>
		</table>
		</div>
	</div>
</template>

<script>
	import { api } from '@/helper/api'

	export default{
		name: 'coach',
		data () {
			return{
				data_coach: [
				]
			}
		},
		mounted () {
			this.get()
		},
		methods: {
			get () {
				api.get('coach').then(res => {
					if (res.data.status === 'success') {
						this.data_coach = res.data.result
					}else{
						console.log(res.data.message)
					}
				}).catch(err => {
					console.log(err)
				})
			},
			deleteRow(id){
				api.delete('coach/' + id).then(res => {
					if (res.data.status === 'success') {
						this.get()
					}else{
						console.log(res.data.message)
					}
				}).catch(err => {
					console.log(err)
				})	
			}
		}
	}
</script>