<template>
	<div class="jumbotron">
		<form @submit.prevent="submitForm">
			<div>
				<label for="nama">Nama</label>
				<input type="text" v-model="coach.nama_lengkap" class="form-control"  required>
			</div>
			<div>
				<label>Tanggal Lahir</label>
				<input type="date" v-model="coach.tgl_lahir" class="form-control"  required>
			</div>
			<div>
				<label>Alamat</label>
				<textarea v-model="coach.alamat" class="form-control" rows="5" required></textarea>
			</div>
			<div>
				<label for="nama">Nomer Telepon</label>
				<input type="number" v-model="coach.no_telp" class="form-control"  required>
			</div>
			<div>
				<label>Jenis Kelamin</label>
				<select v-model="coach.jenis_kelamin" class="form-control"  required>
					<option value="">Pilih Jenis Kelamin</option>
					<option value="L">Laki - Laki</option>
					<option value="P">Perempuan</option>
				</select>
			</div>
			<div>
				<label>Mata Pelajaran</label>
				<select v-model="coach.divisi" class="form-control"  required>
					<option value="">Pilih Divisi</option>
					<option value="Teknik">Teknik</option>
					<option value="Keeper">Keeper</option>
					<option value="Tactic">Tactic</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</template>

<script>
	import { api } from '@/helper/api'

	export default{
		name: 'coachForm',
		data(){
			return{
				coach: {
					id: null,
					nama_lengkap: '',
					tgl_lahir: '',
					alamat: '',
					no_telp: '',
					jenis_kelamin: '',
					divisi: ''
				}
			}
		},
		mounted(){
			let id = this.$route.params.id
			if (id) {
				api.get('/coach/' + id).then(res => {
					this.coach = res.data.result
				})
			}
		},
		methods: {
			submitForm(){
				let data = this.coach
				let url = 'coach'

				if (this.coach.id) {
					url += '/' + this.coach.id
				}

				api.post(url, data).then(res => {
					if (res.data.status === 'success') {
						this.$router.push('/coach')
					}else{
						console.log(res.data.message)
					}
				}).catch(err => {
					console.log(err)
				})
			}
		}
	}
</script>