<template>
	<div class="jumbotron">
		<form @submit.prevent="submitForm">
			<div>
				<label for="nama">Nama</label>
				<input type="text" v-model="siswa.nama_lengkap" class="form-control"  required>
			</div>
			<div>
				<label>Jenis Kelamin</label>
				<select v-model="siswa.jenis_kelamin" class="form-control"  required>
					<option value="">Pilih Jenis Kelamin</option>
					<option value="L">Laki - Laki</option>
					<option value="P">Perempuan</option>
				</select>
			</div>
			<div>
				<label>Tanggal Lahir</label>
				<input type="date" v-model="siswa.tgl_lahir" class="form-control"  required>
			</div>
			<div>
				<label>Alamat</label>
				<textarea v-model="siswa.alamat" class="form-control" rows="5" required></textarea>
			</div>

			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</div>
</template>

<script>
	import { api } from '@/helper/api'

	export default{
		name: 'siswaForm',
		data(){
			return{
				siswa: {
					id: null,
					nama_lengkap: '',
					tgl_lahir: '',
					jenis_kelamin: '',
					alamat: ''
				}
			}
		},
		mounted(){
			let id = this.$route.params.id
			if (id) {
				api.get('/siswa/' + id).then(res => {
					this.siswa = res.data.result
				})
			}
		},
		methods: {
			submitForm(){
				let data = this.siswa
				let url = 'siswa'

				if (this.siswa.id) {
					url += '/' + this.siswa.id
				}

				api.post(url, data).then(res => {
					if (res.data.status === 'success') {
						this.$router.push('/siswa')
					}else{
						console.log(res.data.message)
					}
				}).catch(err => {
					console.log(err)
				})
			}
		}
	}
</script>