<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <link rel="icon" href="<%= BASE_URL %>bola.png">
    <title>Sistem Informasi Akademi Sepakbola</title>
    <style type="text/css">
      body{
        background-image: url("background/bg.jpg");
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Sistem Informasi Akademi Sepakbola doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
